* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --textColor: #656b6e;
    --white : #fffffd;
    --primaryPurple: #9070ae;
    --secondaryPurple: #c6b6d5;
    --primaryGreen: #348379;
    --secondaryGrren: #4cac9e;
}

html,
body {
    scroll-behavior: smooth;
    font-size: 16px;
    color: var(--textColor);
}

.header {
    background-color: var(--white);
    min-height: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.082);   
    z-index: 99;
}

.header ul li a{
    text-decoration: none;
    position: relative;
}

.header ul li a::after {
    content: " ";
    width: 0%;
    height: 1.5px;
    background-color: var(--primaryPurple);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

.header ul li a:hover::after {
    width: 100%;
}

.header ul li {
    text-decoration: none;
    list-style: none;
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#logo {
    font-family: 'Satisfy', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: var(--primaryGreen);
    margin: 0;
}

.initial-section {
    background: linear-gradient(rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.24)), url("img/capa.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin-bottom: 3.5rem;
}

.title h1 {
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
    font-size: 6rem;
}

.title p{
    color: var(--white);
    font-size: 1.2rem;
}

.sides {
    display: flex;
    background-color: var(--white);
    padding: 0 3.5rem;
}

.sides-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
    padding: 3rem;
}

#img-introduction {
    border-radius: 80%;
}

.left-side-1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center ;
}


.right-side-1 {
    width: 50%;
}

.right-side-1 h2 {
    font-family: 'Satisfy', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #348379;
    margin-bottom: 1rem;
}

.default-text {
    color: var(--textColor);
    text-align: justify;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: linear-gradient(to right, #7DA9A9, #5E918D, #4F837A, #6C9C92, #A0C5C0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.banner h2 {
    color: var(--white);
    font-size: 2.5rem;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}


.sides-container-2 {
    display: flex;
    flex-direction: row;
    width: 100%;    
    margin-bottom: 3rem;
}

.title-services {
    color: var(--primaryGreen);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.left-side-2 {
    width: 50%;
    padding: 4rem;
    color: var(--textColor);
    width: 50%;
}

.right-side-2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#function {
    background: linear-gradient(to right, #9070ae, #a488be, #8c6aa6, #b59fcd, #c6b6d5);

}

.title-right {
    color: var(--primaryPurple);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
