* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --textColor: #656b6e;
    --white : #fffffd;
    --primaryPurple: #9070ae;
    --secondaryPurple: #c6b6d5;
    --primaryGreen: #348379;
    --secondaryGrren: #4cac9e;
    --cardColor: #deebe9;

    --defaultFont: 'Poppins', Arial, Verdana, sans-serif;
    --highlightedFont: 'Satisfy', sans-serif;

}

html,
body {
    scroll-behavior: smooth;
    font-size: 16px;
    color: var(--textColor);
    overflow-x: hidden;
}

main {
    border-radius: 10px;
    min-width: 200px;
    max-width: 2000px;
    margin: auto;
}

.header {
    background-color: var(--white);
    min-height: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    position: fixed;
    right: 0;
    left: 0;
    box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.082);   
    transition: 0.8s;
    flex-grow: 5;
    z-index: 99;
}

.header.scrolling {
    padding: 10px 35px;
}

.header ul li a{
    text-decoration: none;
    position: relative;
    color: var(--primaryPurple);
}

.header ul li a::after {
    content: " ";
    width: 0%;
    height: 1.5px;
    background-color: var(--primaryPurple);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

.header ul li a:hover::after {
    width: 100%;
}

.header ul li {
    text-decoration: none;
    list-style: none;
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#logo {
    font-family: var(--highlightedFont);
    font-weight: bolder;
    font-size: 2rem;
    color: var(--primaryGreen);
    margin: 0;
}

#link-contato {
    background-color: var(--primaryPurple);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);

}

.initial-section {
    background: linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.541)), url("/assets/img/capa2.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin-bottom: 3.5rem;
}

.title h1 {
    font-family: 'Satisfy', sans-serif;
    font-weight: 500;
    font-size: 7rem;
}

.title p{
    color: var(--white);
    font-size: 1.2rem;
}

.sides {
    display: flex;
    background-color: var(--white);
    padding: 0 3.5rem;
}

.sides-container-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem;
    gap: 4rem;
}

#img-introduction {
    border-radius: 5%;
    width: 80%;
}

.left-side-1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center ;
}


.right-side-1 {
    width: 50%;

}

.right-side-1 h2 {
    font-family: 'Satisfy', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #348379;
    margin-bottom: 1rem;
}

.default-text {
    color: var(--textColor);
    text-align: justify;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    padding-top: 4rem;
    background-color: #4cac9e1e;
}

.banner-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: gray;
}

.banner-2 h2{
    text-transform: uppercase;
    color: var(--primaryGreen);
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    max-width: 100%;
    padding: 2rem;
    gap: 5rem;
}

.service-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-card {
    min-width: 200px;
    max-width: 500px;
    padding: 1rem;
    border-radius: 15px;
}

.fa-hospital, .fa-handshake, .fa-clipboard {
    font-size: 3rem;
    color: var(--primaryGreen);
    margin-bottom: 2rem;
    margin-right: 1.5rem ;
}


/*.banner {
    position: relative;
    width: 100%;
    min-height: 150px;
    background: linear-gradient(to right, #7DA9A9, #5E918D, #4F837A, #6C9C92, #A0C5C0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.banner {
    background-color: #a48ac4;
    padding: 20px 0;
    text-align: center;
}

.banner h2 {
    color: var(--white);
    font-size: 2.5rem;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
    border-bottom: 2px solid;
}*/

#funcionamento{
    margin-bottom: 5rem;
}

.banner {
    text-align: center;
}

#title-function {
    display: inline-block;
    border-bottom: 3px solid var(--primaryPurple);    
    color: var(--primaryPurple);
    text-transform: uppercase;
}


/*#function {
    background: linear-gradient(to right, #9070ae, #a488be, #8c6aa6, #b59fcd, #c6b6d5);
}*/


.funci-container {
    margin: 3rem 4rem;
}

.title-right {
    color: var(--primaryPurple);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.funci-container p{
    font-size:  1.1rem;
    line-height: 1.6;
}

.funci-container ul {
    list-style: disc inside;
    margin-left: 1.2rem;
    font-size:  1.1rem;

}

#depoimentos {
    margin: 5rem 3rem;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

#statement-title {
    display: inline-block;    
    color: var(--primaryGreen);
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.statement-container {
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    gap: 3rem;
    margin-bottom: 2rem;
    height: auto;
    width: 400%;
}

.statement-container input {
    display: none;
}

.statement {
    width: 25%;
    position: relative;
    transition: 1s;
    max-width: 30rem;
    background-color: var(--cardColor);
    border-radius: 15px;
    padding: 1.5rem;
    text-align: justify;
    box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.082);
}


.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--primaryPurple);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: var(--primaryPurple);
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: var(--primaryPurple);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 50%;
    }
}

#faqs {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.faq-toggle{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
}

.faq-toggle button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid var(--primaryPurple);
    background-color: white;
    color: var(--textColor);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Estilo quando o botão está ativo */
.faq-toggle button.active {
    background-color: var(--primaryPurple);
    color: white;
}

/* Estilo ao passar o mouse */
.faq-toggle button:hover {
    background-color: var(--secondaryPurple);
    color: white;
}

#paciente-btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

#medico-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to bottom right, #6ca29d, #909bb4, #b49dce); 
    box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.144);
    max-width: 50%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 1.5rem 2rem;
}

#faq-title {
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    margin-bottom: 10px;
}

.faq-question {
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    opacity: 1;
  }
  
.faq-question:hover {
    opacity: 0.8;
  }
  
.faq-answer {
    background-color: #f1f1f1;
    padding: 10px;
    border-left: 4px solid var(--primaryGreen);
    margin-top: 5px;
}
  

#btn-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: #b49dce8e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    opacity: 1;
}

.arrow {
    color: #F2F2F2; 
    font-size: 24px; 
    display: inline-block;
}

.up {
    transition: transform 0.3s ease-in-out; 
}

#btn-top:hover {
    opacity: 0.7;
}

#footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    height: 150px;
    color: var(--white);
    background: linear-gradient(to right, #7DA9A9, #5E918D, #4F837A, #6C9C92, #A0C5C0);
}


#contato {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

#img-form {
    border-radius: 15px;
    max-width: 50%; 
    height: auto;
}

.form-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 50px; 
    width: 80%;
}


.form {
    flex: 1; 
}

#contato form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

#contato input, textarea {
    width: 100%; 
    padding: 10px; 
    font-size: 1rem; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#contato button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--secondaryGrren); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contato button:hover {
    background-color:var(--primaryGreen);
}
